{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('style/new_prod.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Modifier produit{% endblock %}

{% block body %}
    <h1>Modification du produit {{ product.ref }}</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('product_index') }}">Retour</a>

    <!-- {{ include('product/_delete_form.html.twig') }} -->
{% endblock %}
